@model LMS_System.Models.Document

@{
    ViewBag.Title = "CreateUpload";
}

<h2>Create Upload</h2>

@if(ViewBag.Error!=null)
{
    <h2 style="color:red">@ViewBag.Error</h2>
}

@using (Html.BeginForm("FileUpload", "Modules", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    if (ViewBag.Parent != null)
    {
        List<LMS_System.Models.Module> act = ViewBag.Parent;

        int? parentId = act[0].Id;
        if (parentId == null)
        {
            parentId = int.Parse(Request.Params["parentId"]);
        }

        <div id="hidden">
            @Html.Hidden("parentId", parentId)
        </div>

                <input type="file" name="file" /><br />



                <label>Description</label><br />
                <textarea name="Description" rows="4" cols="100"></textarea>
                <br /><br />
                <input type="submit" value="OK" />
         
       
    }
}

