table.lms th a {
    color: white;
}

table.lms th {
    background-color: cornflowerblue;
}

table.lms tr:nth-child(even) {
    background-color: aliceblue;
}

h3 {

    padding : initial;
}

.control  {

    padding-top: 0px;
    padding-bottom: 0px;
}

.description {
    font-size: 15px;
    padding-bottom : 10px;
    width: 320px;
    height: 80px;
}

.dates {

  padding-left: 00px;
  padding-bottom: 10px;
}



.startdate {
    float: left;
    padding-right: 50px;
}

.enddate {
    padding-left: 20px;
}