table.lms th a {
    color: white;
}

a.triangle {
    visibility: hidden;
}

table.lms th {
    background-color: cornflowerblue;
}

table.lms tr:nth-child(even) {
    background-color: aliceblue;
}

body {
    font-family: 'Lucida Sans Unicode'; 
    font-size:medium;
}
