@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p style="width:500px">
    This is a learning management system for teachers, students and others involved 
    in education that provides information, tools and resources to support and enhance 
    educational delivery and management.
</p>
